@import "./base.css";

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
p,
span {
  color: var(--color-text);
}

h1,
h2,
h3 {
  font-family: Rockwell, "Arvo";
}

a {
  color: var(--color-text-em);
  text-decoration: none;
}

main {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 50px;
}

@media (min-width: 1024px) {
}
